/*Colors*/
$primary: #9ca04c;
$primaryDark: #393b1a;
$greyDark: #464646;
$greyMedium: #737373;
$greyLight: #b0b0b0;
$greyBlue: #dee8ef;
$danger: #ff003c;

/*Fonts*/
$fontPrimary: 'Montserrat', sans-serif;